body
    {
      background-image: url('/Images/Background.jpg');
      background-size: 300px;
      margin: 0%;
      font-family: Arial;
    }
    a
    {
      text-decoration: none;
      color: black;
      font-family: Arial;
      font-size: large;
    }
    nav
    {
      background-color: rgb(148, 91, 227);
      padding: 0.5em;
    }
    nav p
    {
      font-size: 30px;
      font-family: Arial;
      text-align: center;
      padding-right: 1em;
    }
    .home a img
    {
      width: 3em;
      border-radius: 10px;
    }
    .home
    {
      width: fit-content;
      align-self: center;
      padding: 1em;
    }
    .home:hover
    {
      filter: brightness(40%);
    }
    .tekst
    {
      width: fit-content;
      padding-left: 2em;
    }
    .gedeelte
    {
      display:flex;
    }
    .form1
    {
      background-color: rgb(119, 222, 251);
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 30em;
      margin: 1em;
    }
    .label1
    {
      display: block;
    }
    .tekstveld1
    {
      width: 24.3em;
      padding: 1em;
      font-size: large;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1em;
    }
    .button1
    {
      padding: 0.5em 1em;
      font-size: large;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 0.5em;
    }
    .form2
    {
      background-color: rgb(142, 122, 247);
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 30em;
      margin: 1em;
      color: white;
    }
    .tekstveld2
    {
      width: 24.3em;
      font-size: large;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1em;
    }
    .email
    {
      width: 24.3em;
      font-size: large;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1em;
    }
    .tekstArea
    {
      width: 25.4em;
      padding: 1em;
      font-size: large;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1em;
    }
    .button2
    {
      padding: 0.5em 1em;
      font-size: large;
      background-color: #8800ff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 0.5em;
    }
    .benoeming
    {
      background-color: rgb(187, 187, 187);
      width: fit-content;
      padding: 7px;
      border-radius: 5px;
      margin-left: 1em;
    }