body
    {
      background-image: url('/Images/Background.jpg');
      background-size: 300px;
      margin: 0%;
      font-family: Arial;
    }
    a
    {
      text-decoration: none;
      color: black;
      font-family: Arial;
      font-size: large;
    }
    .link
    {
      background-color: rgb(197, 197, 197);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l1:hover, .l2:hover, .l3:hover, .l4:hover, .l5:hover, .l6:hover, .l7:hover, .l8:hover, .l9:hover, .l10:hover, .l11:hover, .l12:hover, .l13:hover, .l14:hover, .l15:hover, .l16:hover, .l17:hover
    {
      background-color: white;
    }
    nav
    {
      background-color: rgb(148, 91, 227);
      padding: 0.5em;
    }
    nav p
    {
      font-size: 30px;
      font-family: Arial;
      text-align: center;
      padding-right: 1em;
    }
    .home a img
    {
      width: 3em;
      border-radius: 10px;
    }
    .home
    {
      width: fit-content;
      align-self: center;
      padding: 1em;
    }
    .home:hover
    {
      filter: brightness(40%);
    }
    .tekst
    {
      width: fit-content;
      padding-left: 2em;
    }
    .gedeelte
    {
      display:flex;
    }
    .l1
    {
      background-color: rgb(227, 107, 107);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l2
    {
      background-color: rgb(212, 173, 95);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l3
    {
      background-color: rgb(188, 230, 111);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l4
    {
      background-color: rgb(227, 107, 107);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l5
    {
      background-color: rgb(189, 146, 200);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l6
    {
      background-color: rgb(227, 143, 168);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l7
    {
      background-color: rgb(212, 173, 95);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l8
    {
      background-color: rgb(244, 255, 117);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l9
    {
      background-color: rgb(244, 255, 117);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l10
    {
      background-color: rgb(145, 137, 255);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l11
    {
      background-color: rgb(254, 171, 55);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l12
    {
      background-color: rgb(240, 104, 255);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l13
    {
      background-color: rgb(254, 171, 55);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l14
    {
      background-color: rgb(254, 171, 55);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l15
    {
      background-color: rgb(252, 52, 52);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l16
    {
      background-color: rgb(116, 255, 204);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }
    .l17
    {
      background-color: rgb(145, 137, 255);
      border: 1px solid black;
      border-radius: 10px;
      padding: 1em;
      margin: 1em;
      width: fit-content;
      display: inline-block;
    }